{% extends "annuaire/base.html" %}
{% load static %}
{% block content %}
    <div class="flex-title">
        {% if personne.photo_profil %}
            <a href="{{ personne.photo_profil.url }}">
                <img class="expandable-image" src="{{ personne.photo_profil.url }}"
                alt="Photo de profil de {{ personne.prenom }} {{ personne.nom }}" />
            </a>
        {% else %}
            <img class="expandable-image" src={% static 'default_profile_picture.png' %} alt="Photo par défaut">
        {% endif %}
        <div>
            <h1>{{ personne.prenom }} {{ personne.nom }}</h1>
            <p>
                📧 <a href="mailto:{{ personne.prenom }} {{ personne.nom }}<{{ personne.email }}>">{{ personne.email }}</a>
                {% if personne.numero_telephone %}
                - ☎️ <a href="sip:{{ personne.numero_telephone }}">{{ personne.numero_telephone }}</a>
                {% endif %}
            </p>
            {% if personne.adresse_postale %}
                <p>🏠 <a href="https://www.google.com/maps/search/?api=1&query={{ personne.adresse_postale|urlencode }}">
                    {{ personne.adresse_postale}}
                    </a>
                </p>
            {% endif %}
            {% if personne.date_naissance %}<p>🎂 {{ personne.date_naissance|date:"j F Y" }}</p>{% endif %}
        </div>
    </div>
    {% if personne.description %}
        <div class="annuaire-description">
            <h2>À propos de {{ personne.prenom }}</h2>
            <p>{{ personne.description }}</p>
        </div>
    {% endif %}
    <h2>Relations</h2>
    <!-- Conjoint / époux -->
    {% if partenaire %}
        <div class="relations-inline">
            <div>{{ partenaire_type|title }}</div>
            <a href="{% url 'personne-detail' partenaire.pk %}" title="{{ partenaire.prenom }} {{ partenaire.nom }}">
                <img src="{% if partenaire.photo_profil %}
                            {{ partenaire.photo_profil.url }}
                        {% else %}
                            {% static 'default_profile_picture.png' %}
                        {% endif %}"
                    alt="Photo de {{ partenaire.prenom }}"
                    class="profile-picture">
            </a>
        </div>
    {% endif %}

    <!-- Parents -->
    {% if parents %}
        <div class="relations-inline">
            <div>Parents</div>
            {% for parent in parents %}
                <a href="{% url 'personne-detail' parent.pk %}" title="{{ parent.prenom }} {{ parent.nom }}">
                    <img src="{% if parent.photo_profil %}
                                {{ parent.photo_profil.url }}
                            {% else %}
                                {% static 'default_profile_picture.png' %}
                            {% endif %}"
                        alt="Photo de {{ parent.prenom }} {{ parent.nom }}"
                        class="profile-picture">
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Enfants -->
    {% if enfants %}
        <div class="relations-inline">
            <div>Enfants</div>
            {% for enfant in enfants %}
                <a href="{% url 'personne-detail' enfant.pk %}" title="{{ enfant.prenom }} {{ enfant.nom }}">
                    <img src="{% if enfant.photo_profil %}
                                {{ enfant.photo_profil.url }}
                            {% else %}
                                {% static 'default_profile_picture.png' %}
                            {% endif %}"
                        alt="Photo de {{ enfant.prenom }}"
                        class="profile-picture">
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}