{% extends "annuaire/base.html" %}
{% block content %}
    <div class="flex-title">
        <a href="{{ personne.photo_profil.url }}">
            <img class="expandable-image" src="{{ personne.photo_profil.url }}"
            alt="Photo de profil de {{ personne.prenom }} {{ personne.nom }}" />
        </a>
        <div>
            <h1>{{ personne.prenom }} {{ personne.nom }}</h1>
            <p>
                📧 <a href="mailto:{{ personne.prenom }} {{ personne.nom }}<{{ personne.email }}>">{{ personne.email }}</a>
                {% if personne.numero_telephone %}
                - ☎️ <a href="sip:{{ personne.numero_telephone }}">{{ personne.numero_telephone }}</a>
                {% endif %}
            </p>
            {% if personne.adresse_postale %}
                <p>🏠 <a href="https://www.google.com/maps/search/?api=1&query={{ personne.adresse_postale|urlencode }}">
                    {{ personne.adresse_postale}}
                    </a>
                </p>
            {% endif %}
            {% if personne.date_naissance %}<p>🎂 {{ personne.date_naissance|date:"j F Y" }}</p>{% endif %}
        </div>
    </div>
    {% if personne.description %}
        <div class="annuaire-description">
            <h2>À propos de {{ personne.prenom }}</h2>
            <p>{{ personne.description }}</p>
        </div>
    {% endif %}
{% endblock content %}