{% extends "annuaire/base.html" %}
{% load static %}
{% block vendor_css %}
    <link rel="stylesheet" href="{% static 'vendor/family-chart/family-chart.css' %}">
{% endblock vendor_css %}
{% block content %}
    <h1>Généalogie</h1>

    <div id="genealogie-panel">
        <div class="genealogie-toolbar d-flex gap-2 align-items-center flex-wrap mb-3">
            <select id="genealogie-branch-picker" class="form-select genealogie-branch-picker" hidden></select>
            <div id="genealogie-search" class="genealogie-search"></div>
            <button type="button" id="genealogie-export" class="btn btn-outline-success btn-sm"
                    data-export-url="{% url 'genealogie-export' %}">Exporter le carnet d'adresses en Excel</button>
            <button type="button" id="genealogie-export-image" class="btn btn-outline-success btn-sm">Exporter en image</button>
            <button type="button" id="genealogie-fullscreen" class="btn btn-outline-secondary btn-sm">Plein écran</button>
        </div>

        <div class="d-lg-flex genealogie-layout">
            <div id="genealogie-chart" class="f3 genealogie-container flex-grow-1" data-graph='{{ graph_json|escape }}'
                 data-main-id="{{ main_id|default:"" }}" data-components='{{ components_json|escape }}'>
                <div id="genealogie-chart-mount" class="genealogie-chart-mount"></div>
            </div>
            <aside id="genealogie-detail" class="genealogie-detail d-none d-lg-block">
                <p class="genealogie-detail-empty">Sélectionnez une personne dans l'arbre.</p>
            </aside>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'vendor/d3/d3.min.js' %}"></script>
    <script src="{% static 'vendor/family-chart/family-chart.min.js' %}"></script>
    <script src="{% static 'vendor/html-to-image/html-to-image.js' %}"></script>
    <script src="{% static 'js/family_tree.js' %}"></script>
{% endblock extra_js %}
