{% extends "annuaire/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1>Choisir un nouveau mot de passe</h1>

        {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100 mt-2">Enregistrer le nouveau mot de passe</button>
        </form>
        {% else %}
        <div class="alert alert-danger">
            Ce lien de réinitialisation n'est plus valide, il a peut-être déjà été utilisé ou a expiré.
        </div>
        <a href="{% url 'login' %}" class="btn btn-primary">Retour à la connexion</a>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/password_toggle.js' %}"></script>
{% endblock extra_js %}
