{% extends "annuaire/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Créer mon profil</legend>
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
{% endblock content %}
