{% extends "annuaire/base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content %}
    <div class="fb-page-head">
        <div class="fb-page-head__titles">
            <p class="fb-eyebrow">{% translate "Administration" %}</p>
            <h1>{% translate "Configuration du site" %}</h1>
        </div>
    </div>

    <form method="post" class="fb-form" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="fb-fieldset">
            <legend>{% translate "Identité" %}</legend>
            {{ form.site_name|as_crispy_field }}
            {{ form.wordmark|as_crispy_field }}
            {{ form.tagline|as_crispy_field }}
        </fieldset>
        <fieldset class="fb-fieldset">
            <legend>{% translate "Vocabulaire" %}</legend>
            {{ form.place_label_singular|as_crispy_field }}
            {{ form.place_label_plural|as_crispy_field }}
        </fieldset>
        <fieldset class="fb-fieldset">
            <legend>{% translate "Emails et retours" %}</legend>
            {{ form.sender_address|as_crispy_field }}
            {{ form.feedback_url|as_crispy_field }}
        </fieldset>
        <fieldset class="fb-fieldset">
            <legend>{% translate "Localisation" %}</legend>
            {{ form.timezone|as_crispy_field }}
            {{ form.default_language|as_crispy_field }}
        </fieldset>
        <fieldset class="fb-fieldset">
            <legend>{% translate "Marque" %}</legend>
            {{ form.theme|as_crispy_field }}
            {{ form.brand_primary_light|as_crispy_field }}
            {{ form.brand_primary_dark|as_crispy_field }}
            {{ form.brand_accent_light|as_crispy_field }}
            {{ form.brand_accent_dark|as_crispy_field }}
            {{ form.logo|as_crispy_field }}
            {{ form.favicon|as_crispy_field }}
        </fieldset>
        <div class="fb-form__actions">
            <button class="fb-btn fb-btn--primary" type="submit">{% translate "Enregistrer" %}</button>
            <a href="{% url 'home' %}" class="fb-btn fb-btn--ghost">{% translate "Annuler" %}</a>
        </div>
    </form>
{% endblock content %}
