{% extends "annuaire/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "annuaire/_profile_edit_actions.html" %}
            <fieldset class="form-group">
                <legend>
                    {% if form_title %}
                        {{ form_title }}
                    {% else %}
                        Modification de {{ form.instance }}
                    {% endif %}
                </legend>
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <fieldset class="form-group">
                <legend>Notifications</legend>
                {{ settings_form|crispy }}
            </fieldset>
            {% include "annuaire/_profile_edit_actions.html" %}
        </form>
    </div>
    {% include "annuaire/_profile_photo_size_check.html" %}
{% endblock content %}