{% extends "annuaire/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>
                    {% if form_title %}
                        {{ form_title }}
                    {% else %}
                        Modification de {{ form.instance }}
                    {% endif %}
                </legend>
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class='btn btn-outline-primary' type="submit">Enregistrer</button>
                {% if form.instance.pk %}
                    <a href="{% url 'person-relations-edit' form.instance.pk %}" class="btn btn-outline-secondary ms-2">Modifier les relations</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}