{% extends "annuaire/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>
                    {% if object %}Modifier « {{ object.title }} »{% else %}Nouvelle publication{% endif %}
                </legend>
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>

            {% for subform in formsets %}
                <fieldset class="form-group">
                    {{ subform.management_form }}
                    <legend class="formset-legend">Pièces jointes</legend>
                    {% for inline_form in subform.forms %}
                        <div class="formset-entry">
                            {{ inline_form.media }}
                            {{ inline_form|crispy }}
                        </div>
                    {% endfor %}
                </fieldset>
            {% endfor %}

            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Enregistrer</button>
                {% if object %}
                    <a href="{% url 'blogpost-detail' object.pk %}" class="btn btn-outline-secondary ms-2">Annuler</a>
                {% else %}
                    <a href="{% url 'blogpost-list' %}" class="btn btn-outline-secondary ms-2">Annuler</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}
