{% comment %}
A plain result tile for global search -- unlike _photo_card.html, not coupled
to the document-viewer lightbox strip, since a search results page doesn't
provide that surrounding markup/JS context.
{% endcomment %}
{% load i18n %}
<a href="{% url 'photo-detail' photo.pk %}" class="fb-card fb-card--link fb-place-card">
    <img src="{% url 'photo-file-thumbnail' photo.pk %}" alt="{{ photo.caption }}" class="fb-place-card__media">
    <span class="fb-place-card__body">
        {% translate "Photo" as default_photo_caption %}
        <span class="fb-place-card__name">{{ photo.caption|default:default_photo_caption }}</span>
        <span class="fb-meta">{{ photo.album.title }}</span>
    </span>
</a>
